@import '../../../styles/settings.scss';


.root{
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
    border-bottom: 2px solid;
    padding: 1em 0;
    color: $text-color;
    .table{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 30%;
        h1{
            width: 50%;
        }
        h4{
            width: 60%;
        }
    }

    a {
        display: flex;
        color: white;
        font-weight: 600;
        text-decoration: none;
        background-image: $gradient;
        padding: 1em;
        border-radius: 1em;
        &:hover{
            color: $green;
        }
    }
}

