$blue: #192a56;
$purple: #6D214F;
$green: #78e08f;
$gold: #f6b93b;

$text-color: #3c6382;

$gradient: linear-gradient(to bottom right, #6D214F, #192a56);
$gradient2: linear-gradient(to bottom right, teal, #192a56 )